@layer reset, init, layout, design, components;

@import url('normalize.css') layer(reset);
@import url('layout.css') layer(layout);
/* @import url('components/main.css') layer(components); */

@layer design {

  @media(prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  /* body { */
  /*   background-color: var(--background); */
  /**/
  /*   ::selection { */
  /*     background-color: var(--color-primary); */
  /*     color: black; */
  /*   } */
  /**/
  /* } */

  .skip-link {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    background: purple;
    color: #FFF;
    padding: 1rem;
    transform: translateY(-100%);

    /* To hide the link from the screen */
    &:focus {
      transform: translateY(0);
      /* To Bring the link back into view */
    }
  }

  .icon {
    text-decoration: none;
    color: var(--color-primary);

    &:visited {
      color: var(--color-primary);
    }
  }

  ._a-unstyled,
  ._inside-a-unstyled a {
    color: unset;
    text-decoration-line: unset;

    &:visited {
      color: unset;
    }
  }

  ._list-unstyled {
    list-style-type: none;
    padding-left: unset;
  }

  ._displaynone {
    display: none;
  }

  ._visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  ._scroll-anchor {
    scroll-margin-top: 6rem;
  }
}
