<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  {% block head %}{% endblock %}
</head>

<body>
  <a href="#main" class="skip-link">Skip to main content</a>
  {% include 'templates/header.liquid' %}
  <main id="main">
    {% block content %}{% endblock %}
  </main>
  {% include 'templates/footer.liquid' %}
</body>

</html>
