<footer class="pagefooter">
  <p class="pagefooter__copyright">Copyright (c) {% getYear %} František Tomáš. All Rights Reserved.</p>
</footer>
<style>
  .pagefooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pagefooter__copyright {
    text-align: center;
  }
</style>
